<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/paste.css">
        <style>
            {{.Style}}
        </style>
    </head>
    <body>
        <h1>By: {{.User}}</h1>
        <h2>Created: {{.CreatedFormatted}}</h2>
        <h2>Language: {{.Lang}}</h2>

        <pre><code>
            {{.Content}}
        </code></pre>
    </body>
</html>