<html>
    <head>
        <style>
            {{.Style}}
        </style>
    </head>
    <body>
        <h1>{{.User}}</h1>
        <h2>Created: {{.CreatedFormatted}}</h2>
        <h2>Language: {{.Lang}}</h2>

        <pre><code>
            {{.Content}}
        </code></pre>
    </body>
</html>